<div class="container">
    <mat-toolbar>
        <span>Usuarios</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">Agregar</button>
    </mat-toolbar>

    <div *ngIf="listUsuarios.length > 0">
      <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo. Fem" #input autocomplete="off">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Usuario Column -->
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre(s) </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
        
          <!-- Apellido Column -->
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido(s) </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
          </ng-container>
        
          <!-- Sexo Column -->
          <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef> Sexo </th>
            <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
          </ng-container>
      
          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element; let i = index" style="text-align:right;">
              <a class="pointer" style="color:#1878b0;"  matTooltip="Ver usuario">
                  <mat-icon>search</mat-icon>
              </a>
              <a class="pointer" style="color:#e28008;" matTooltip="Editar usuario">
                  <mat-icon>edit</mat-icon>
              </a>
              <a class="pointer" (click)="eliminarUsuario(i)" style="color:#ed0d1fde;" matTooltip="Eliminar usuario">
                  <mat-icon>delete</mat-icon>
              </a>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccione página  de usuarios"></mat-paginator>
      </div>
    </div>
    <h2 style="color:red; margin-top: 10px;"  *ngIf="listUsuarios.length == 0">No hay registros de usuarios...</h2>
</div>